<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  *Required
<div class="row">
  <div class="span6 offset3">
  <div class="field">





  <b>     <%= f.label :name , "*Name", :class => "users"%></b>
      <%= f.text_field :name %>

 <br />

       <%= f.label :email, "*Email" %>
      <%= f.text_field :email %>
       <br />


      <%= f.label :phone, "Phone Number  " %>
      <%= f.text_field :phone, :size => 20%>
  <br />
        <%= f.label :web, "Website " %>
      <%= f.text_field :web, :size => 20%>
 	   <br />
       
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    
  </div>
<% end %>
  </div>
</div>
