<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
  
  
</p>
<b> <p>
	Phone: </b> <%= @user.phone%>
</p>

<b> <p>
	Email: </b> <%= @user.email%>
</p>
 
	<b>Website: </b><%= @user.web%>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> | 
